

.post-formulario{
    width: 500px;
    margin: auto;
    padding-top: 50px;
}

.post-formulario input{
    border: none;
    outline: none;
    padding: 3px;
}

.post-formulario input[type='submit']{
    background-color: #fff;
    padding: 10px;    
    margin-top: 10px;

    cursor: pointer;

    background-color: #a73737;
    color: #fff;
    border-radius: 3px;
}

.post-formulario input[type='submit']:hover{
    color: #a73737;
    border: #a73737 1px solid;
    background-color: #fff;
}

/* LABEL / INPUT */

.post-formulario p{
    display: flex;
    flex-direction: column;
}

.post-formulario p > label{
    color: #999;
}

.post-formulario p > textarea{
    color: #a73737;
    border: #a73737 1px solid;
    border-radius: 3px;
    background-color: #fff;
    margin: 5px 0px 10px 0px;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}

.post-formulario p > input{
    color: #a73737;
    border: #a73737 1px solid;
    border-radius: 3px;
    background-color: #fff;
    margin: 5px 0px 10px 0px;
}